@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

@font-face {
    font-family: 'Reey';
    src: url('../fonts/Reey-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
}

.flex-container {
    display: flex;
}

section > .container {
    padding-top: 60px;
    width: 90%;
}

.btn {
    text-decoration: none;
    background-color: #343434;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 15px 80px;
    border-radius: 9999px;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
}

/* Header */

.header .container {
    max-width: 100%;
}

.header {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100%;
    z-index: 30;
    transition: 0.4s;
}

.header.after-scroll {
    background-color: rgba(0, 0, 0, 0.9);
}

.main-nav-desktop {
    justify-content: flex-end;
}

.main-nav-desktop ul {
    list-style: none;
    padding: 0 50px;
    display: flex;
    align-items: center;
    margin: 16px;
}

.main-nav-desktop ul a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.main-nav-desktop ul a:hover, .main-nav-desktop ul a:active {
    background-color: rgba(0, 0, 0, 0.6);
}

.after-scroll ul a:hover, .after-scroll ul a:active {
    background-color: rgba(90, 90, 90, 0.6);
}

.main-nav-desktop form {
    display: flex;
    margin-left: 50px;
}

.main-nav-desktop form input {
    height: 3rem;
    border-radius: 50px 0 0 50px;
    outline: none;
    border: none;
    padding-left: 20px;
}

.main-nav-desktop form button {
    height: 3rem;
    width: 40px;
    border-radius: 0 50px 50px 0;
    outline: none;
    cursor: pointer;
    background-color: white;
    border: none;
    padding-right: 30px;
    padding-top: 2px;
}

.main-nav-small {
    display: none;
}

.main-nav-small .burger {
    width: 50px;
    height: 50px;
    color: white;
    background-color: inherit;
    margin: 16px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 2px solid;
    border-radius: 5px;
}

.main-nav-small #arrow {
    transition: 0.6s;
}

.main-nav-small #arrow.flip {
    transform: rotate(180deg);
}

.main-nav-small .burger-menu {
    position: absolute;
    top: 66px;
    right: -300px;
    height: calc(100vh - 66px);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 16px;
    transition: 0.6s;
}

.main-nav-small ul {
    display: flex;
    flex-direction: column;
}

.main-nav-small ul li {
    margin: 16px 0;
}

.main-nav-small ul a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.main-nav-small .burger-menu.show {
    right: 0;
}

.main-nav-small ul a:hover, .main-nav-small ul a:active {
    background-color: rgba(90, 90, 90, 0.6);
}


.main-nav-small form {
    display: flex;
    margin-top: 16px;
}

.main-nav-small form input {
    height: 3rem;
    border-radius: 50px 0 0 50px;
    outline: none;
    border: none;
    padding-left: 20px;
}

.main-nav-small form button {
    height: 3rem;
    width: 40px;
    border-radius: 0 50px 50px 0;
    outline: none;
    cursor: pointer;
    background-color: white;
    border: none;
    padding-right: 30px;
    padding-top: 2px;
}

@media (max-width: 1024px) {
    .main-nav-desktop {
        display: none;
    }

    .main-nav-small {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

/* Hero */

.hero {
    background-image: url('../images/dish1.webp'), url('../images/dish2.webp'), url('../images/header-background.webp');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 35%, 14%, 100%;
    background-position: 95% 60%, 62% 95%, center;
    height: 100vh;
    padding-left: 60px;
}

.hero-text {
    width: 50%;
}

h1 {
    font-family: 'Reey';
    font-size: calc(32px + 4vw);
    font-weight: 400;
    color: white;
    white-space: nowrap;
}

.hero-text .upper-text {
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 0.2em;
    color: white;
}

.hero .btn {
    background-color: white;
    color: #343434;
    font-weight: 700;
    padding: 15px 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
}

.hero .lower-text {
    font-size: 1rem;
    max-width: 450px;
    color: white;
}

.hero-images {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-leaves {
    width: 80%;
    position: relative;
    bottom: -200px;
    right: -50px;
}

@media (max-width: 1280px) {
    .hero-leaves {
        bottom: -120px;
    }
}

@media (max-width: 1024px) {
    .hero {
        background-image: url('../images/dish1.webp'), url('../images/dish2.webp'), url('../images/header-background.webp');
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: 35%, 14%, auto;
        background-position: 95% 60%, 65% 90%, center;
    }

    .hero-leaves {

        width: 90%;
    }
}

@media (max-width: 768px) {
    .hero {
        background-image: url('../images/header-background.webp');
        background-repeat: cover;
        background-size: 100%;
        background-position: center;
        background-size: auto;
        padding-left: 0;
    }

    .hero-images {
        display: none;
    }

    .hero-text {
        padding-top: 35px;
        text-align: center;
        width: 100%;
    }

    .hero .lower-text {
        max-width: 100%;
    }
}

/* Section 2 */

.section2 .container {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 40px 0;
    margin: 0 auto;
}

.section2 .container > * {
    margin: 40px auto;
}

.section2 h2 {
    font-family: 'Reey';
    font-size: calc(32px + 4vw);
    font-weight: 400;
    color: black;
}

.section2 p {
    width: 60%;
}

.section2 .container .dishes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section2 .container .dishes > div {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 5px #e9e9e9;
    margin: 30px 15px;
    overflow: hidden;
    border-radius: 15px;
}

.section2 .container .dishes > div:hover {
    scale: 1.03;
    transition: 0.4s;
}

.section2 .container .dishes > div img {
    height: 200px;
    scale: 1.2;
}

.section2 .container .dishes > div p {
    align-self: center;
}

.section2 .container .dishes > div h4 {
    margin-top: 40px;
    margin-bottom: -2px;
}

.section2 .btn {
    margin-top: 40px;
    justify-self: left;
}

@media (max-width: 1024px) {
    .section2 .btn {
        padding: 15px 60px;
        font-size: 1rem;
    }

    .section2 p {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .section2 h2 {
        font-size: calc(32px + 2vw);
    }
}

@media (max-width: 540px) {
    .section2 h2 {
        font-size: calc(18px + 2.5vw);
    }
}

/* Section 3 */

.section3 {
    background-color: #27292c;
    color: white;
}

.section3 h2 {
    margin: 40px auto;
    color: white;
}

.section3 .container {
    flex-direction: column;
}

.section3-content {
    display: flex;
    justify-content: center;
}

.section3-content > div {
    width: 40%;
    font-size: 0.85rem;
    font-weight: 300;
    margin: 40px 10px;
}

.section3 .btn {
    background-color: white;
    color: #343434;
    font-weight: 700;
    padding: 15px 60px;
    margin: 40px auto 60px;
}

@media (max-width: 768px) {
    .section3-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section3-content > div {
        width: 90%;
        margin: 20px 10px;
    }
}

/* Section 4 */

.section4 {
    width: 100%;
    margin-bottom: 20px;
}

.section4 .container {
    width: 100%;
}

.section4-content {
    width: 100%;
}

.section4-content .item {
    display: flex;
    width: 100%;
}

.section4-content .item:last-child {
    flex-direction: row-reverse;
}

.section4-content .item div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.section4-content .item div:first-child {
    width: 40%;
}

.section4-content .item div:last-child {
    width: 60%;
    padding: 30px;
}

.section4-content .item div img {
    width: 100%;
    margin: auto auto;

}

.section4-content .item h3 {
    font-size: calc(8px + 3vw);
}

.section4-content .item p {
    font-size: calc(8px + 1vw);
}

.section4 .btn {
    margin: 60px 0;
    justify-self: left;
}

@media (max-width: 1024px) {
    .section4 .btn {
        margin: 30px 0;
        padding: 15px 60px;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .section4 .btn {
        margin: 20px 0;
    }

    .section4-content .item, .section4-content .item:last-child {
        flex-direction: column;
        align-items: center;
    }

    .section4-content .item div:first-child, .section4-content .item div:last-child {
        width: 80%;
        padding: 10px;
    }

    .section4-content .item div img {
        width: 80%;
        margin: auto auto;
    }

    
}

@media (max-width: 640px) {
    .section4 .btn {
        margin: 10px 0;
        padding: 15px 60px;
        font-size: 0.75rem;
    }
}

/* Section 5 */

.section5 {
    background-image: url('../images/header-background.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.section5 div h2 {
    color: white;
    font-size: calc(32px + 2vw);
}

.section5 div p {
    width: 50%;
    text-align: center;
}

    .section5 div div {
    content: "";
    display: block;
    width: 150px;
    border-top: 6px solid white;
    margin-bottom: 50px;
}

.section5 .container {
    flex-direction: column;
    align-items: center;
}

.section5 .leaves {
    position: absolute;
    margin-top: -200px;
    width: 95%;
}

.section5 .pizza {
    width: 90%;
}

/* @media (max-width: 768px) {
    h2 {

        font-family: 'Reey';
        font-size: calc(32px + 4vw);
        font-weight: 400;
        color: black;
        font-size: calc(32px + 2vw);
    }
}

@media (max-width: 540px) {
    h2 {
        font-size: calc(18px + 2.5vw);
    }
} */

@media (max-width: 840px) {
    .section5 div h2 {
        font-size: calc(32px + 1.5vw);
    }

    .section5 .pizza {
        display: none;
    }

    .section5 div p {
        width: 70%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .section5 {
        background-image: url('../images/header-background.webp');
        background-repeat: cover;
        background-size: 100%;
        background-position: center;
        background-size: auto;
        padding-left: 0;
    }
    
    .section5 div h2 {
        font-size: calc(30px + 1vw);
    }
}

@media (max-width: 640px) {
    .section5 div h2 {
        font-size: calc(24px + 1vw);
    }
}

@media (max-width: 540px) {
    .section5 div h2 {
        font-size: calc(5vw);
    }

    .section5 div p {
        width: 90%;
        text-align: center;
    }
}

/* Section 6 */

.section6 .container {
    flex-direction: column;
    width: 100%;
}

.section6 .container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section6 .container div div {
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}


.section6 .container div div h3 {
    font-family: "reey";
    font-size: 2rem;
    font-weight: 300;
    margin-left: 20px;
}

.section6 .container div div p {
    font-size: 1rem;
}

.section6 .container .lower-p {
    margin-top: 100px;
    font-weight: 600;
    max-width: 600px;
    align-self: center;
}

.section6 .container small {
    align-self: center;
    font-weight: 700;
    margin-bottom: 100px;
}

/* Section 7 */

.section7 {
    background-color: #27292c;
}

.section7 .container {
    flex-direction: column;
    align-items: center;
}

.section7 h2 {
    color: white;
    font-family: inherit;
    font-weight: 700;
    margin-top: 20px;
}

.section7 .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    z-index: 10;
}

.section7 .container form > * {
    width: 100%;
    margin-bottom: 20px;
}

.section7 .container form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section7 .container form div * {
    width: 49%;
}

.section7 form input, .section7 form textarea  {
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 1.125rem;
    font-family: inherit;
    border: none;
}

.section7 form input[type=submit] {
    text-decoration: none;
    background-color: #54524f;
    color: #fff;
    padding: 10px 0;

    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 80px;
}

.section7 .leaves3 {
    position: absolute;
    margin-top: -120px;
    width: 95%;
}

@media (max-width: 1280px) {
    .section7 .container form {
        width: 70%;
    }
}

@media (max-width: 1024px) {
    .section7 .container form {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .section7 .container form {
        width: 95%;
    }

    .section7 .container form div {
        flex-direction: column;
        width: 100%;
    }

    .section7 .container form div * {
        width: 100%;
    }

    .section7 .container form div *:first-child {
        margin-bottom: 20px;
    }
}

@media (max-width: 540px) {
    .section7 .container form {
        width: 100%;
    }
}

/* Section 8 */

.section8 {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.section8 h5 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 40px;
}

.section8 p {
    font-size: 1.125rem;
    line-height: 1.5;
}

.section8 .container {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.section8 .main-section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.section8 .container .left-col {
    width: 300px;
    margin: 0 auto;
}

.section8 .container .icons {
    color: #343434;
    width: 93%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 0;
}

.section8 .container .icons svg {
    margin: 0 20px;
}

.section8 .container .right-col {
    width: 600px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 40px;
}

.section8 .container .right-col ul {
    list-style: none;
    padding: 0;
}

.section8 .container a {
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #343434;
}

.section8 .container a:hover {
    color:  black;
}

.section8 .container .right-col div {
    margin: 0 20px;
}